body{
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

	background-color: #cccccc;
	background-repeat: repeat;
	background-size: cover;
  
}

a{
  text-decoration: none;
}
.rate{
  padding-left: 630px;
}
.clip-star {
    background: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    display: inline-block;

    height: 25px;
    width: 25px;

  }
  #btn{
    border-radius: 10px;
    color: black;
    background-color: indianred;
    margin-top: 10px;
    width: 38%;
}
#btn:hover{
    background-color: cyan;
}
#st{
  color:  rgb(46, 53, 52);
  text-decoration: none;
}

  table{
    border-radius: 10px;
    float: left;
    width:70%; 
    height: 80px;
    margin-top: 20px;
    margin-left:15%; 
    margin-right:15%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 40px;
    background-color: white;
    
  }
h3{
  text-align: center;
}
  
  table:hover{
    box-shadow: 0 8px 16px 0 rgba(19, 4, 4, 0.2);
  }
 
  td{
    padding: 15px;
    margin: auto;
    width: 50%;
    text-align: center;
  }

  #tags{
    align-content: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    background-color: cornsilk;
    margin-right: 30px;
  }
  #tags:hover{
    box-shadow: 2px 2px 2px 2px grey;
    
    color: cornsilk;
    background-color: silver;
  }
 
  
  
  .footer {
    float: left;
  background:black;
  color:white;
  width: 100%;
  opacity: 85%;
  height: 200px;
  padding: 20px;
    
  }
  header{
    background: black;
    color:white; 
    padding:10px;
}
 .article-body{
   letter-spacing: 1px;
   word-spacing: 4px;
   line-height: 1.5;
   background-color: lightgrey;
 }
 .topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background:wheat;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}


*{
  margin:0px;
  padding:0px;
  font-family:sans-serif;
  box-sizing:border-box;
}
.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: #f1f1f1;
}

.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
.dropbtn {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}
.dropbtn:hover {
  color: #f1f1f1;
}
.dropdown-content a:hover {
  color: blue;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #151719;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #151719;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #151719;}


body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}